.features-pics {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 53px;
}

.features-pics__cont {
  display: flex;
  align-self: center;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  flex-direction: column;
  align-content: center;

}
.features-pics__img {
  background-color: var(--brand-color-5);
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features-text {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 53px;
}

.features-text__item {
  display: flex;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.features-text__item--title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-2);

  padding-top: 30px;
}

.features-text__item--desc {
  text-align: left;
  padding-top: 10px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--brand-color-3);

}