:root{
  --brand-color-1:#2196F3;
  --brand-color-2: #212121;
  --brand-color-3: #757575;
  --brand-color-4: #FFFFFF;
  --brand-color-5: #F5F4FA;
  --brand-color-6: #AFB1B8;
  --brand-color-7: #2F303A;
}